.main_table {
  max-width: 1077px;
  width: 1077px;
}

@media (max-width: 376px) {
  .main_table {
    max-width: 100%;
  }
}

@media (min-width: 377px) and (max-width: 576px) {
  .main_table {
    max-width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .main_table {
    max-width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .main_table {
    max-width: 100%;
  }
}
@media (min-width: 993px) and (max-width: 1100px) {
  .main_table {
    max-width: 100%;
  }
}
@media (min-width: 1101px) and (max-width: 1700px) {
  .main_table {
    max-width: 100%;
  }
}
